.container-detail{

    display: grid;
   grid-template-columns: 0.5fr 1fr;
   margin-top: 100px;
   margin-bottom:300px;
  }
  .product-tumb{
    margin-left: 100px;
  }
  .badge{
    color: var(--theme-title);
    font-size: 50px;
    padding: 0;
    padding-bottom: 10px;
  }
  .product-details{
    color: var(--theme-title) ;
  }
  .product-details p{
    padding: 10px;
  }
  .product-details span{
    font-weight: bold;
    color: red;
  }
  
  .swal2-container {
    z-index: 10000; 
  }
  
  .S9gUrf-YoZ4jf{
    padding: 100px;
  }
  